<nav class="navbar navbar-expand-md navbar bg-dark">
    <h2 class ="text-white">eMart</h2>
    <button 
        type="button" 
        class="navbar-toggler" 
        data-toggle="collapse" 
        data-target="#emart-nav-bar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="emart-nav-bar">	
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" >
                <a class="nav-link  text-white" routerLink="/" *ngIf="!navBarToggle()">Login</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link  text-white" routerLink="/item-list" *ngIf="navBarToggle()">Item List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/cart-list" *ngIf="navBarToggle()">Cart</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" routerLink="/bill-list" *ngIf="navBarToggle()">Purchase History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" routerLink="/log-out" *ngIf="navBarToggle()">Logout</a>
            </li>
        </ul>
    </div>
  </nav>
